<?xml version="1.0" encoding="utf-8"?>
<root>
<languages>
<en>English</en>
<uk>Українська</uk>
</languages>
<loginsignup>on</loginsignup>
<allowguestmode>on</allowguestmode>
<apps>
<stickers>off</stickers>
<folders>on</folders>
</apps>
<modules>
<hiremeastutor>
<parent>stickers</parent>
<bigtitlereference>hiremeastutortitle</bigtitlereference>
<shorttitlereference>hiremeastutorshortcut</shorttitlereference>
<defaulttitlereference>hiremeastutordefaulttitle</defaulttitlereference>
<defaulttextreference>hiremeastutordefaulttext</defaulttextreference>
<showstickeraftermodification>off</showstickeraftermodification>
<showduplicateoption>on</showduplicateoption>
<showeditoption>off</showeditoption>
<showdeleteoption>off</showdeleteoption>
<color>7fff7f</color>
<loadstickers>off</loadstickers>
<enabledforunauthorizeduser>on</enabledforunauthorizeduser>
<defaulthashtagreference>defaultreference</defaulthashtagreference>
<getstickersapi>gtr.php</getstickersapi>
<addstickerapi>atr.php</addstickerapi>
<overrideuseridbydefaulttag>on</overrideuseridbydefaulttag>
<showdesktopicon>on</showdesktopicon>
<showquicklaunchicon>on</showquicklaunchicon>
<showstartmenuitem>on</showstartmenuitem>
<desktopiconcss>tutor-shortcut</desktopiconcss>
<startmenuquicklaunchiconcss>notepad</startmenuquicklaunchiconcss>
</hiremeastutor>

<progs>
<basefolder>progs</basefolder>
<parent>folders</parent>
<bigtitlereference>progstitle</bigtitlereference>
<shorttitlereference>progsshortcut</shorttitlereference>
<enabledforunauthorizeduser>on</enabledforunauthorizeduser>
<getfoldersapi>rsdprogs.php</getfoldersapi>
<basefolder>progs</basefolder>
<showdesktopicon>on</showdesktopicon>
<showquicklaunchicon>on</showquicklaunchicon>
<showstartmenuitem>on</showstartmenuitem>
<desktopiconcss>progs-shortcut</desktopiconcss>
<startmenuquicklaunchiconcss>icon-progs</startmenuquicklaunchiconcss>
</progs>

</modules>
</root>