<?xml version="1.0" encoding="utf-8"?>
<root>
<languages>
<en>English</en>
<uk>Українська</uk>
</languages>
<loginsignup>on</loginsignup>
<allowguestmode>on</allowguestmode>
<apps>
<stickers>off</stickers>
</apps>
<modules>
<hiremeastutor>
<parent>stickers</parent>
<bigtitlereference>hiremeastutortitle</bigtitlereference>
<shorttitlereference>hiremeastutorshortcut</shorttitlereference>
<defaulttitlereference>hiremeastutordefaulttitle</defaulttitlereference>
<defaulttextreference>hiremeastutordefaulttext</defaulttextreference>
<showstickeraftermodification>on</showstickeraftermodification>
<showduplicateoption>off</showduplicateoption>
<showeditoption>on</showeditoption>
<showdeleteoption>off</showdeleteoption>
<color>7fff7f</color>
<loadstickers>on</loadstickers>
<enabledforunauthorizeduser>on</enabledforunauthorizeduser>
<defaulthashtagreference>defaultreference</defaulthashtagreference>
<getstickersapi>gn.json</getstickersapi>
<addstickerapi>as.php</addstickerapi>
<editstickerapi>es.php</editstickerapi>
<deletestickerapi>rs.php</deletestickerapi>
<overrideuseridbydefaulttag>off</overrideuseridbydefaulttag>
</hiremeastutor>
</modules>
</root>