<?xml version="1.0" encoding="utf-8"?>
<root>
<languages>
<en>English</en>
<uk>Українська</uk>
</languages>
<loginsignup>on</loginsignup>
<allowguestmode>on</allowguestmode>
<apps>
<stickers>off</stickers>
</apps>
<modules>
<hiremeastutor>
<parent>stickers</parent>
<bigtitlereference>hiremeastutortitle</bigtitlereference>
<shorttitlereference>hiremeastutorshortcut</shorttitlereference>
<defaulttitlereference>hiremeastutordefaulttitle</defaulttitlereference>
<defaulttextreference>hiremeastutordefaulttext</defaulttextreference>
<showstickeraftermodification>on</showstickeraftermodification>
<showduplicateoption>on</showduplicateoption>
<showeditoption>on</showeditoption>
<showdeleteoption>on</showdeleteoption>
<color>red</color>
<loadstickers>on</loadstickers>
<enabledforunauthorizeduser>on</enabledforunauthorizeduser>
</hiremeastutor>
</modules>
</root>